---
import { version as packageVersion } from "@/../package.json";
const appHeader = `AES Encryption & Decryption Tools v${packageVersion}`;
export const prerender = true;
---

<div class="w-full text-center text-xl font-bold sm:text-2xl">
  {appHeader}
</div>
